{{ define "header" }}
<div class="hero-slim container d-flex flex-column justify-content-center">
    <div class="px-3 m-5-md">
        <h1 class="display-1">{{ .Title | markdownify }}</h1>
    </div>
</div>
{{ end }}

{{ define "main" }}
<main class="container text-dark">
    <section class="p-4 mb-5 module shadow-lg">
        {{ .Content }}

        <div id="masonry" class="row">
            {{ range (.Paginator 12).Pages }}
            {{ .Render "li" }}
            {{ end }}
        </div>

        <div class="d-flex justify-content-center mt-3">
            {{ template "_internal/pagination.html" (dict "page" . "format" "terse") }}
        </div>
    </section>
</main>
{{ end }}

{{ define "scripts" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js"
    integrity="sha512-S5PZ9GxJZO16tT9r3WJp/Safn31eu8uWrzglMahDT4dsmgqWonRY9grk3j+3tfuPr9WJNsfooOR7Gi7HL5W2jw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"
    integrity="sha512-JRlcvSZAXT8+5SQQAvklXGJuxXTouyq8oIMaYERZQasB8SBDHZaUbeASsJWpk0UUrf89DP3/aefPPrlMR1h1yQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        let grid = new Masonry(document.getElementById("masonry"), {});
        imagesLoaded("#masonry", () => {
            // trigger a layout refresh after images have loaded
            // - necessary, otherwise images may overlap vertically
            grid.layout();
        });
    });
</script>
{{ end }}